# Dependencies
node_modules

# Build output
dist
dist-ssr

# Environment variables
.env
.env.local

# Logs
*.log
pnpm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.DS_Store

# Cache
.eslintcache

# WebR cache
cache/